.env
.env.*
node_modules
.git
coverage
dist
*.log
postgres_data
server/prisma/dev.db
server/prisma/dev.db-journal
server/prisma/*.db
server/prisma/*.sqlite
server/prisma/**/*.db
server/prisma/**/*.sqlite
server/prisma/**/*.sqlite-journal
server/prisma/**/*.sqlite-wal
server/prisma/**/*.sqlite-shm
client/node_modules
server/node_modules
.DS_Store
Thumbs.db
